<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Count em up...</title>
</head>
<body>
    <div class="container">
        <h2>Counted!</h2>
        <p>The given word appeared <strong><em> {{ result }} </strong></em> times in the given string of words. </p>
    </div>
</body>
</html>
